header
  .messages!= messages()
  .wrap
    h1
      span I'm
      |  Hunter Loftis,
nav
  .wrap
    p#selection
      | and I
      strong(data-bind='text: activeVerb')
      | 
      select(data-bind='options: topics, optionsText: "noun", value: activeTopic')
article
  .wrap
    ul#response.hidden(data-bind='css: {hidden: stillBinding}')
      li(data-bind='fadeVisible: (activeTopic().value === "apps")')
        p.
          Static sites are for sissies. Smart, interactive, engaging applications are where it's at.
          I've built them in <a href='http://ilovestressless.com/floorplanner/'>Flex</a>, but I prefer <a href='http://www.clickdummy.com'>HTML 5</a>.
      li(data-bind='fadeVisible: (activeTopic().value === "js")')
        p.
          My team built one of the largest node.js <a href='http://www.clickdummy.com'>web apps</a>,
          I contribute to several JS open-source <a href='https://github.com/hunterloftis/knockout.namespaces'>projects</a>,
          and I organize the local <a href='http://www.charlottejs.org/'>CharlotteJS</a> meetup group.
          Check out <a href='http://labs.skookum.com/demos/canvastest/'>my</a> <a href='http://max.skookumlabs.com/'>advanced</a> <a href='https://developer.mozilla.org/en-US/demos/detail/ghostwriter-art-studio'>JavaScript</a> <a href='http://10k.aneventapart.com/Uploads/417/'>demos</a>.
      li(data-bind='fadeVisible: (activeTopic().value === "html5")')
        p.
          I'm enthusiastically leaping into the semantic web, the realtime web, and the mobile web.
          Check out my <a href='http://www.cpcc.edu/thegeekfest/2010/sessions'>HTML5</a> <a href='http://answers.onstartups.com/questions/16321/impact-to-internet-landscape-due-to-html5'>presentations</a>, <a href='https://developer.mozilla.org/en-US/demos/detail/ghostwriter-art-studio'>demos</a>, and <a href='http://www.canvasdemos.com/2010/11/04/simple-game-physics/'>tutorials</a>.
      li(data-bind='fadeVisible: (activeTopic().value === "mobile")')
        p.
          Mobile is blowing up - these days, responsive CSS is always a consideration (check this page out on your device!).
          I'm also building a few mobile HTML5 apps - they have homescreen icons, work offline, and can even be distributed in the app store. Awesome!
      li(data-bind='fadeVisible: (activeTopic().value === "ux")')
        p.
          "As far as the user is concerned, <strong>the UI is the application</strong>" (<a href="http://www.codinghorror.com/blog/2005/08/the-user-interface-is-the-application.html">Jeff Atwood</a>).
          I'm a big fan of low-budget user testing and agile, user-focused development. I learned a lot from my seniors and co-workers as a UX Architect at <a href='http://ally.com'>Ally Bank</a>.
      li(data-bind='fadeVisible: (activeTopic().value === "design")')
        p.
          I began my career in software as a designer, and I consider aesthetics a first class citizen in my projects.
          Mozilla recently featured <a href='https://developer.mozilla.org/en-US/demos/detail/ghostwriter-art-studio'>my creative work</a> that merges design with advanced HTML5 and JavaScript.
      li(data-bind='fadeVisible: (activeTopic().value === "realtime")')
        p.
          My personal and professional projects are largely trending towards realtime data, communication and collaboration
          Check out my <a href='https://github.com/hunterloftis/knockout.sync'>open source project</a> connecting clients to server data in realtime using node.js, socket.io, and KnockoutJS.
      li(data-bind='fadeVisible: (activeTopic().value === "skookum")')
        p.
          At <a href='http://skookum.com'>Skookum</a>, I get to lead research and development efforts to push our capabilities beyond your average web shop.
          We use agile processes, lean code, and powerful technology to build awesome mobile and web applications.
footer
  address.contact_info
    ul
      li
        a.email(href='mailto:hunter@hunterloftis.com') hunter@hunterloftis.com
      li
        a.twitter(href='http://www.twitter.com/hunterloftis') @hunterloftis
      li
        a.cv(href='/docs/hunterloftis_cv.pdf') my CV
      li
        a.phone(href='tel:7042530040') 704.253.0040
      
script(src='/lib/jquery-1.6.1.min.js', type='text/javascript')
script(src='/lib/knockout-1.2.0.js', type='text/javascript')

script(src='/js/main.js', type='text/javascript')