header
  .messages!= messages()
  .wrap
    h1
      span I'm
      |  Hunter Loftis.
nav
  .wrap
    p#selection
      select
        option
        option(value='code') Building apps
        option(value='code') Coding JavaScript
        option(value='code') Hacking HTML 5
        option(value='code') Mobile web
        option(value='code') User experience
        option(value='code') Web design
        option(value='code') Realtime interaction
      |  is what I do.
article
  .wrap
    p.response This is where the response goes.
footer
  address.contact_info
    ul
      li
        a.phone(href='tel:7042530040') 704.253.0040
      li
        a.twitter(href='http://www.twitter.com/hunterloftis') @hunterloftis
      li
        a.email(href='mailto:hunter@hunterloftis.com') hunter@hunterloftis.com
        
script(src='/lib/knockout-1.2.0.js')
script(src='/lib/underscore-min.js')
script(src='/lib/zepto.min.js')
script(src='/js/main.js')