header
  .messages!= messages()
  .wrap
    h1 Hunter Loftis
address.contact_info
  ul
    li 704.253.0040
    li
      a.email(href='mailto:hunter@hunterloftis.com') hunter@hunterloftis.com
    li
      a.twitter(href='http://www.twitter.com/hunterloftis') @hunterloftis  
nav
  .wrap
    p#heard
      | So, you
      select
        option
        option(value='code') ...write code?
        option(value='code') ...love JavaScript?
article
footer