@import url('reset.css');

html, body {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: #fff;
  background-image: -webkit-radial-gradient(center top, circle cover, #fff, #fff 25%, #eee 60%, #bbb);
  background-image: -moz-radial-gradient(center top, circle cover, #fff, #fff 25%, #eee 60%, #bbb);
  color: #777;
  font-family: 'Annie Use Your Telescope', arial, sans-serif;
}

header {
  padding: 3em 0 0 0;
}

h1 {
  text-align: center;
  font-size: 5.2em;
  font-weight: normal;
  padding: 0.2em 0 0.2em 0;
  color: #FE4365;
}

h1 span {
  color: #aaa;
  font-size: 0.5em;
  font-weight: bold;
}

a {
  color: #0B8C8F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

#selection {
  color: #aaa;
  font-weight: bold;
  font-size: 2.4em;
  padding: 0 0 0.7em 0;
  text-align: center;
  font-family: 'Annie Use Your Telescope', arial, sans-serif;
}

#selection select {
  font-size: 0.8em;
  background-color: #ddd;
  border-radius: 8px;
  position: relative;
  top: -0.11em;
}

#selection strong {
  /*text-decoration: underline;*/
  color: #FE4365;
}

.response {
  max-width: 20em;
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 1.2em;
  text-align: center;
}

.contact_info {
  padding: 1.8em 0;
  text-align: center;
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.contact_info li {
  color: #FE4365;
  font-style: normal;
  font-weight: normal;
  line-height: 2.0em;
  margin: 0 2.5em;
  font-size: 1.0em;
  letter-spacing: 0.1em;
  line-height: 0.6em;
  display: inline-block;
}

.contact_info a {
  display: inline-block;
  padding-top: 138px;
  min-width: 128px;
  color: inherit;
  background-position: top center;
  background-repeat: no-repeat;
}

.contact_info .phone {
  background-image: url('/images/phone.png');
}

.contact_info .email {
  background-image: url('/images/email.png');
  background-position: center 7px;
}

.contact_info .twitter {
  background-image: url('/images/twitter.png');
}